@using ImageServiceWeb.Struct;
@model IEnumerable<ImageServiceWeb.Models.PhotosModel>
@{
    ViewBag.Title = "viewPhoto";
    int photoNum;
    try
    {
        photoNum = Int32.Parse(HttpContext.Current.Request.QueryString["num"]);
    }
    catch (Exception)
    {
        photoNum = 0;
    }
}

<h2>Do you want to delete this photo?</h2>
<img src=@ViewBag.photos[@photoNum].Thumbnail>
<div class="caption">
    <h4>Photo details</h4>
    <p>Name: @ViewBag.photos[@photoNum].Name</p>
    <p>Date: @ViewBag.photos[@photoNum].Date</p>
    <p>
        <button type="button" class="btn btn-danger btn-xs" id=@photoNum.ToString() onclick="Delete(id)">Delete</button>
    </p>
</div>

<script>
     function Delete(photoNum) {
         var url = '@Url.Action("Delete", "Main")?photoNum=' + photoNum;
         $.get(url);
         window.location.href = 'Photos';
     }
</script>