@model IEnumerable<ImageServiceWeb.Models.Entry>

@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>

<div>
    <div>
        <h2>Filter Log entry Types</h2>
        <p> Requested Type: </p>
        <input type="text" id="txtType" size="5" placeholder="Type" />
        <input type="button" onclick ="btnFilter()" value="filter" />
        <ul id="lstProducts"></ul>
    </div>

</div>
<table class="table" id ="logTable">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Type)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Message)
    </th>
    <th></th>
</tr>

@foreach (var item in Model.Reverse()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
    </tr>
}
</table>

<script>
    function btnFilter() {
        //td will be our first column for each row, i is index
        var td, i;
        //getting input and making it not caps sensitive
        var input = document.getElementById("txtType");
        var filter = input.value.toUpperCase();
        //getting our table
        var table = document.getElementById("logTable");
        //each row is tr
        var tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                //indexOf method searches the filter value in our first column which is the type
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    //case filter input is in first column (or blank), in this case we show
                    tr[i].style.display = "";
                } else {
                    //case it isnt, so we hide.
                    tr[i].style.display = "none";
                }
                }
            }
        }
</script>

