@using ImageServiceWeb.Struct;
@model IEnumerable<ImageServiceWeb.Models.PhotosModel>
@{
    ViewBag.Title = "viewPhoto";
    int photoNum;
    try
    {
        photoNum = Int32.Parse(HttpContext.Current.Request.QueryString["num"]);
    }
    catch (Exception)
    {
        photoNum = 0;
    }
}

<h2>View Photo</h2>
<img src=@ViewBag.photos[@photoNum].Photo>
<div class="caption">
    <h4>Photo details</h4>
    <p>Name: @ViewBag.photos[@photoNum].Name</p>
    <p>Date: @ViewBag.photos[@photoNum].Date</p>
    <p>
        <button type="button" class="btn btn-danger btn-xs" id=@photoNum.ToString() onclick="Delete(id)">Delete</button>
    </p>
</div>

<script>
     /* the function gets the photo index in the list,
      * and changes the location to DeletePhoto (sends the index via quary string) */
     function Delete(photoNum) {
             window.location.href = 'DeletePhoto?num=' + photoNum;
     }
</script>